.speedDial {
  position: fixed;
  right: 1vmax;
  top: 5.9vmax;
}

.speedDialIcon {
  width: 66px;
  height: 66px;
  border-radius: 100%;
} 

@media screen and (max-width: 600px) {
  .speedDial {
    position: fixed;
    right: 2vmax;
    top: 14vmax;
  }
  
  .speedDialIcon {
    width: 88px;
    height: 78px;
    border-radius: 100%;
  } 
}


nav {
  height: 2rem;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.229);
  background-color: white;
  
}
.Header{
  /* height: 4rem;
  padding: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.229); */
  /* background-color:rgba(164, 15, 15, 0.803); */

  /* box-shadow: 0 5px 15px rgba(0,0,0,0.6);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0; */

  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 999;
  
}


.second {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 3px;
}
.second > input {
  border: none;
  outline: none;
  width: 36vw;
  padding: 10px 15px;
  border-radius: 3px;
}
.second > .MuiSvgIcon-root {
  color: #2874f0;
  padding: 5px;
  font-size: 25px;
}



.main {
  display: flex;
  align-items: center;
}

svg {
  color: rgb(130, 73, 73);
  font-weight: 900;
  font-size: 1.4rem;
}


a {
  margin: 0 1.2rem;
  color: rgb(24, 21, 21);
  transition: color 0.3s;
}









.header{
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_logo{
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}


.StartMenu{
  width: 100%;
  border-radius: 1px solid #ccc;
  height: 54px;
  }

  .StartMenu ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  align-items: center;  
  padding: 0px 10px;
  height: 100%;
  margin: 0;
  position: relative;
  }
  .StartMenu ul li{
    height: 100;
    display: flex;
    align-items: center;
    margin: 0;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    }
    .StartMenu ul li:hover{
      color: #131921;
      border-bottom: 4px solid #131921;;
    }
    .subMenu{
      position: relative;
      top: 51px;
      left: 0;
      right: 0;
      background-color: #fff;
      border: 1px solid #ccc;
      box-sizing: border-box;
       display: none;
       margin: 0px 10px;
       box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
       padding: 20px;
    }

    /* .StartMenu ul li:hover .subMenu{
      display: block;
    } */
    .subMenu p{
      color: #131921;
    }
    .submenuList{
      display: flex;
    }

    





 