footer {
  /* margin-top: 10vmax; */
  padding: 2vmax;
  background-color: rgb(34, 33, 33);
  color: white;
  display: flex;
  align-items: center;
}

.leftFooter {
  width: 20%;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.leftFooter > h4 {
  font-family: "Roboto";
  font-size: 1vmax;
}
.leftFooter > p {
  text-align: center;
  font-size: 1.2vmax;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.leftFooter > img {
  width: 10vmax;
  margin: 1vmax;
  cursor: pointer;
}

.midFooter {
  width: 60%;

  text-align: center;
}

.midFooter > h1 {
  font-size: 4vmax;
  font-family: "Roboto";
  color: #eb4034;
}
.midFooter > p {
  max-width: 60%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax auto;
}

.rightFooter {
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightFooter > h4 {
  font-family: "Roboto";
  font-size: 1.4vmax;
  text-decoration: underline;
}
.rightFooter > a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  transition: all 0.5s;
  margin: 0.5vmax;
}

.rightFooter > a:hover {
  color: #eb4034;
}






/* .footer {
  margin: 100px 200px 20px 200px;
}

  .top {
    display: flex;
    gap: 50px;
  }
    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: justify;
      font-size: 14px;
    }

      h1{
        font-size: 18px;
        font-weight: 500;
        color: #555;
      }

      span{
        color: gray;
      }

  

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
    .left {
      display: flex;
      align-items: center;
    }

      .logo{
        color: #2879fe;
        font-weight: bold;
        font-size: 24px;
      }

      .copyright{
        margin-left: 20px;
        font-size: 12px;
        color: gray;
      }
    
    .right > img{

  
      height: 50px;
      
    }
  

    @media screen and (max-width: 600px) {
      .footer {
        margin: 10px 30px 8px 30px;
        width: 100%;
      }
      
        .top {
          display: flex;
          gap: 30px;
        }
          .item {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 8px;
            text-align: justify;
            font-size: 15px;
          }
      
            h1{
              font-size: 10px;
              font-weight: 500;
              color: #555;
            }
      
            span{
              color: gray;
            }
      
        
      
        .bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 30px;
        }
          .left {
            display: flex;
            align-items: center;
          }
      
            .logo{
              color: #2879fe;
              font-weight: bold;
              font-size: 14px;
            }
      
            .copyright{
              margin-left: 10px;
              font-size: 7px;
              color: gray;
            }
          
          .right > img{
      
        
            height: 30px;
            
          }
    } */